body {
}

@media (max-width: 900px){
    .CTAContainer {
        padding: 0 !important;
    }
    .CTA {
        justify-content: center !important;
    }
    .CTA img {
        display: none !important;
    }
}

.CTAContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 100px 0px 195px;
    width: auto;
}

.CTA {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.CTAContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Star {
}

.StarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
    height: 60px;
}

.CTATitle {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    gap: 29px;
}

.CTATitle p {
    margin: 0;
}