body {
}

.ExperienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 50px 100px;
    gap: 50px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

@media (max-width: 900px) {
    .ExperienceContainer {
        padding: 0px 16px 50px 16px;
    }
    .ExperienceTitleContainer p {
        font-size: 26px;
    }
    .ExperienceTitleContainer img {
        display: none !important;
    }
    .NumberContainer {
        display: none !important;
    }
    .LineImage {
        display: none !important;
    }
}

.ExperienceTitleContainer {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    gap: 29px;
}

.ExperienceTitleContainer p {
    margin: 0;
}

.InnerExperienceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.JobContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 46px;
    padding: 0px 0px 0px 0px;
}

    .JobContainer img {
        width: 56px;
        height: 56px;
    }

.NumberContainer {
    padding: 0px 19px 0px 19px;
}
.NumberContainer img {
        
} 

.JobTextContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

    .JobTextContainer p {
        font-size: 22px;
        text-align: left;
        box-sizing: border-box;
        margin: 0;
    }

    .JobTextContainer li {
        font-size: 19px;
        text-align: left;
        box-sizing: border-box;
        margin: 0;
    }

.JobContent {
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: start;

}

.LineImage {
    position: absolute;
    top: 20%;
    left: 4.4%;
    z-index: -1; /* Ensure the line is behind the job containers */
}
