body {
}

.HeroContainer {
    position: relative;
    min-height: 567px;
    width: 100%;
}

.HeroGrid {
    height: 636px;
    width: 100%;
    position: absolute;
    left: -0.5%;
    min-height: 636px;
    z-index: -1;
    object-fit: cover;
}

.InnerHeroContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 285px;
    padding: 80px 175px 244px 175px;
    gap: 11px;
}

.Title{
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    height: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin: 0;
}

.Description {
    font-size: 16px;
    width: 100%;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin: 0;
}
.HireMeButton {
    background: linear-gradient(to right, #101111, #101111 ) padding-box, linear-gradient(to right, #FFD49C, #7A87FB) border-box;
    border-radius: 40px;
    border-width: 1px;
    padding: 14px 20px 14px 20px;
    width: 105px;
    margin: 0 auto; /* Center horizontally */
}

.HireMeButton text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.HireMeButton:hover {
    border-color: #FFD49C;
}

.HireMeButton:active {
    outline: none;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center elements vertically */
    gap: 30px; /* Space elements by 11px */
    height: 100%;
    padding: 0px 15px 0px 15px;
}